DSpec2Test Artifact Package in Docker:

The artifact is packaged as a Linux Docker image. It has been successfully tested and confirmed to run flawlessly on both **x86_64 (Linux)** and **ARM64 (Apple Silicon / M1+ Macs)** architectures. 

Tested on Architecture:
* x86_64 (Linux)
* ARM (Apple Silicon)

Operating system:
* Works, at least, in Linux and MacOS
* The Docker-based review path is recommended for the most reliable evaluation (and should work on other platformns)

Software requirements:
* Docker 24 or newer
* All other dependencies are listed under the DockerFile

Hardware requirements:
* Minimum RAM: 8 GB (Required for Z3 solver and mutant generation compilation).
* Storage: ~10 GB of free disk space to load the Docker image and save generated tests.
* CPU: Any modern multi-core processor.